@model ShopEx01.Web.Models.ProductViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<link href="~/Assets/client/css/css/etalage.css" rel="stylesheet" />
@section footerJS{
    <script type="text/javascript" src="/Assets/client/js/jquery.flexisel.js"></script>
    <script src="/Assets/client/js/jquery.etalage.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $("#flexiselDemo1").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

            $('#etalage').etalage({
                thumb_image_width: 340,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>
}
<div class="product-details">
    <!--product-details-->
    <div class="col-sm-5">
        <div class="grid images_3_of_2">
            <ul id="etalage">
                <li>
                    <a href="#">
                        <img class="etalage_thumb_image img-responsive" src="@Model.Image" />
                        <img class="etalage_source_image img-responsive" src="@Model.Image" title="" />
                    </a>
                </li>
                @{
                    var moreImages = (List<string>)ViewBag.MoreImages;
                    if (moreImages.Count > 0)
                    {
                        foreach (var image in moreImages)
                        {
                            <li>
                                <img class="etalage_thumb_image img-responsive" src="@image" />
                                <img class="etalage_source_image img-responsive" src="@image" title="" />
                            </li>
                        }
                    }
                }


            </ul>
            <div class="clearfix"> </div>
        </div>
        @*style='word-wrap:break-word; '*@
    </div>
    <div class="col-sm-7">
        <div class="product-information">
            <!--/product-information-->
            <img src="~/Assets/client/images/product-details/new.jpg" class="newarrival" alt="" />
            <h1 class="b">@Model.Name</h1>
            <img src="~/Assets/client/images/product-details/rating.png" alt="" />
            <span>
                <span>VNĐ @(Model.Price == 0 ? "Liên hệ" : Model.Price.ToString("N0"))</span>

                <a class="now-get get-cart-in" href="/them-gio-hang/@Model.ID"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
            </span>
            <p><b>@Model.Quantity</b> Sản phẩm trong kho</p>
            <p><b>Tình trạng:</b> New</p>
            <p><b>Thương hiệu:</b> @Model.BrandID</p>
            <p><b>Mô tả ngắn:</b> @Model.Description</p>
            <div class="share">
                <h5>Chia sẻ:</h5>
                <ul class="share_nav">
                    <li><a href="#"><img src="~/Assets/client/images/facebook.png"</a></li>
                </ul>
            </div>
        </div><!--/product-information-->
    </div>
   
</div><!--/product-details-->
<div class="toogle">
    <h3 class="title text-center"><b>Chi tiết sản phẩm</b></h3>
    <p class="m_text">@Html.Raw(Model.Content)</p>
    <p></p>
</div>
