@model ShopEx01.Web.Models.CategoryViewModel

<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Danh mục sản phẩm</h2>
        <div class="panel-group category-products" id="accordian">
            @foreach (var category in Model.ProductCategory.Where(x => x.ParentID == null))
            {
                var y = category.ID;
                var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
                var childCategories = Model.ProductCategory.Where(x => x.ParentID == category.ID);
                if (childCategories.Count() > 0)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#@y">
                                    @category.Name
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="@y" class="panel-collapse collapse">
                            <div class="panel-body">
                                @foreach (var childCategory in childCategories)
                                {
                                    var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                                    <ul>
                                        <li><a href="@childUrl">@childCategory.Name </a></li>
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="@url">
                                    @category.Name
                                </a>
                            </h4>
                        </div>
                    </div>
                }
            }
        </div><!--/category-products-->

        <div class="brands_products">
            <!--brands_products-->
            <h2>Thương hiệu</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var brand in Model.Brands)
                    {
                        var urlBrand = "/" + brand.Alias + ".b-" + brand.ID + ".html";
                        <li><a href="@urlBrand"> <span class="pull-right"></span>@brand.Name</a></li>
                    }
                </ul>
            </div>
        </div><!--/brands_products-->

        <div class="shipping text-center">
            <!--shipping-->
            <img src="~/Assets/client/images/home/shipping.jpg" alt="" />
        </div><!--/shipping-->

    </div>
</div>
